@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .sketchbook-bg {
      background-image: linear-gradient(rgba(0, 0, 0, 0.05) 1px, transparent 1px),
        linear-gradient(90deg, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
      background-size: 10px 10px;
      background-position: -1px -1px;
    }
  }